/* STYLE SHEET FOR INDEX.HTM */

h1 {
  font-family: arial, helvetica, geneva, sans-serif;
}
body {
  background-color: #a3c1ad;
}
main {
  font-size: 90%;
  font-family: arial, sans-serif;
  border: solid  4px;
  border-radius: 35px;
  padding: 10px 5px 5px 10px;
  background-color: #778899;
}
footer {
  font-size: 120%;
  border: dotted 2px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
} 
