
body {
  background-color: #080808;
}

h1, footer {
  text-align: center;
}

footer>a, footer>a:visited {
  text-decoration: none;
  color: #555;
}

main>div {
  margin-left: 5px;
  margin-top: 10px;
}

