/* STYLE SHEET FOR INDEX.HTM */

h1 {
  font-family: 'oregonfont';
  color: #bd0000;
}
@font-face {
  font-family: 'oregonfont';
  src: url(../media/oregon_book.ttf);
}
nav {
  border: 2px solid #ffffff;
  float: left;
  height: 105px;
  padding: 5px;
}
body {
  background-color: #000000;
  font-family: 'oregonfont';
}
main {
  font-size: 90%;
  font-family: arial, sans-serif;
  border-top: solid  4px #ffffff;
  padding: 10px 5px 5px 10px;
  margin-bottom: 40px;
  background-color: #000000;
  background-image: url("https://images.pexels.com/photos/87651/earth-blue-planet-globe-planet-87651.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: 50%;
  background-origin: border-box;
  background-position: center;

}
.floatright {
  float: right;
  clear: right;
  margin: 10px;
}
p {
  color: #ffffff;
}
.navlinks {
  margin: 10px 10px 10px 10px; 
  display: block;
  border: 2px solid #fada5e;
  padding: 2px 5px;
  background: #bd0000;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #888888;
}

footer {
  font-size: 120%;
  border-top: dotted 2px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
} 
